.all-notes {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 5px #0000000d;
}
.add-notes {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-right: 20px;
}
.add-notes-button {
    padding: 6px 15px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 1px solid #000;
    border-radius: 10px;
}
.add-notes-button:active {
    transform: scale(0.9);
}

.hidden {
    display: none;
}