{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Your Mail</title>
    {% block style %}
    <link rel="stylesheet" href="{% static "css/common/mail-form.css" %}">
    <link rel="stylesheet" href="{% static "css/common/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% endblock style %}
</head>

<body>
    <div class="error-container" id="close">
        {% if messages %}
        
            <div class="error" id = "error">
                <div class = "error-icon">
                    <span class="material-symbols-outlined">info</span>
                </div>
                <div class="error-title regular">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </div>
                <div class="error-close">
                    <span class="material-symbols-outlined" onclick="closeAlert()">close</span>
                </div> 
            </div> 
        {% endif %}
    </div>
    <div class="main-container">
        <div class="form">
            <div class="header mb-25">
                <h1 class="bold">Enter Mail</h1>
            </div>
            <form action="{% url "check-mail-notification" %}" method = "POST">
                {% csrf_token %}
                <div class="user-email">
                    <label for="user-email">Enter your user registered email so that we will send a link to the password reset form. </label>
                    <input type="email" id="username" name="email" class="input-field" placeholder="your vstud registered email"
                        required>
                    <label for="username">Enter your username : </label>
                    <input type="text" id="username" name="username" class="input-field" placeholder="your vstud registered username"
                    required>
                </div>
                <div class="submit mb-5">
                    <button type = "submit" class="submit-button"> Submit </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function closeAlert() {
            var alertBox = document.getElementById('close');
            alertBox.style.display = 'none';
        }
    </script>
</body>

</html>